h1 {
    color:black;
    font-size: 36px;
    font-family: 'serif';
    text-align: center;
    font-style: italic;
    padding: 20px;
    margin:50px;
    border-radius: 50px;
    background-color:rgb(210, 185, 154) ;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 16px;

}
body {
    background-color: blanchedalmond;
    font-size: 16px;
    font-family: serif;
    font-style:normal;
    text-align: auto;
}

article {
display:flex;
max-width: 750px ;
margin: auto;
font-size:16px ;
    
}


.flex-container{
    padding:50px;
    margin: auto;
    gap:100px;
    display:flex;
    border-radius:50px;
    justify-content: center;
}


  
.flex-container > div {
    background-color: rgb(210, 185, 154);
    margin:30px;
    padding: 25px;
    font-size: 30px;
    display:flex;
    justify-content: center;
    border-radius: 50px;

}


a:link {
    color: green;
  }
  
  a:visited {
    color: brown;
  }
  
  a:hover {
    color: hotpink;
  }
